@import "tailwindcss";

@import "../../node_modules/@fontsource-variable/inter-tight";
@import "../../node_modules/@fontsource-variable/inter-tight/wght.css";
@import "../../node_modules/@fontsource-variable/inter-tight/wght-italic.css";

@import "../../node_modules/preline/variants.css";

@import "./tabler-icons.css";

@source "../../node_modules/preline/dist/*.js";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";
@plugin "@tailwindcss/typography";

@import "./tabler-icons.css";

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-gossamer-50: #eefbf6;
    --color-gossamer-100: #d5f6e7;
    --color-gossamer-200: #aeecd3;
    --color-gossamer-300: #79dcbb;
    --color-gossamer-400: #43c49d;
    --color-gossamer-500: #20a984;
    --color-gossamer-600: #149373;
    --color-gossamer-700: #0f6d57;
    --color-gossamer-800: #0e5746;
    --color-gossamer-900: #0d473b;
    --color-gossamer-950: #062822;

    --color-medium-red-violet-50: #faf5f9;
    --color-medium-red-violet-100: #f7ecf4;
    --color-medium-red-violet-200: #f1d9ea;
    --color-medium-red-violet-300: #e6bbd8;
    --color-medium-red-violet-400: #d690bf;
    --color-medium-red-violet-500: #c66ea5;
    --color-medium-red-violet-600: #ac4c84;
    --color-medium-red-violet-700: #983e70;
    --color-medium-red-violet-800: #7e365d;
    --color-medium-red-violet-900: #6a3150;
    --color-medium-red-violet-950: #3f182c;
}

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    body {
        font-family: "Inter Tight Variable";
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-balance;
    }

    p {
        @apply text-pretty;
        max-width: 80ch;
    }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

@plugin "daisyui/theme" {
    name: "lightNew";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(35% 0.144 278.697);
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: oklch(85% 0.199 91.936);
    --color-secondary-content: oklch(27% 0.072 132.109);
    --color-accent: oklch(35% 0.144 278.697);
    --color-accent-content: oklch(93% 0.034 272.788);
    --color-neutral: oklch(92% 0 0);
    --color-neutral-content: oklch(21% 0.006 285.885);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(53% 0.157 131.589);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(55% 0.195 38.402);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

@plugin "daisyui/theme" {
    name: "darkNew";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(25.33% 0.016 252.42);
    --color-base-200: oklch(23.26% 0.014 253.1);
    --color-base-300: oklch(21.15% 0.012 254.09);
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: oklch(85% 0.199 91.936);
    --color-primary-content: oklch(27% 0.033 256.848);
    --color-secondary: oklch(35% 0.144 278.697);
    --color-secondary-content: oklch(96% 0.018 272.314);
    --color-accent: oklch(85% 0.199 91.936);
    --color-accent-content: oklch(27% 0.033 256.848);
    --color-neutral: oklch(27% 0.033 256.848);
    --color-neutral-content: oklch(96% 0.018 272.314);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(75% 0.183 55.934);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(50% 0.213 27.518);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}
