@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-sans-variable: "Inter-tight", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";

    /* --color-smalt-50: #ebf7ff;
    --color-smalt-100: #d1edff;
    --color-smalt-200: #aee0ff;
    --color-smalt-300: #76cfff;
    --color-smalt-400: #35b3ff;
    --color-smalt-500: #078bff;
    --color-smalt-600: #0065ff;
    --color-smalt-700: #004cff;
    --color-smalt-800: #003ed7;
    --color-smalt-900: #00379e;
    --color-smalt-950: #062465;

    --color-bright-sun-50: #fefce8;
    --color-bright-sun-100: #fffac2;
    --color-bright-sun-200: #fff287;
    --color-bright-sun-300: #ffe343;
    --color-bright-sun-400: #ffd325;
    --color-bright-sun-500: #efb603;
    --color-bright-sun-600: #ce8c00;
    --color-bright-sun-700: #a46304;
    --color-bright-sun-800: #884d0b;
    --color-bright-sun-900: #733f10;
    --color-bright-sun-950: #432005;

    --color-sazerac-50: #fff8ed;
    --color-sazerac-100: #fff3e1;
    --color-sazerac-200: #fed9aa;
    --color-sazerac-300: #fdbe74;
    --color-sazerac-400: #fb973c;
    --color-sazerac-500: #f97916;
    --color-sazerac-600: #ea5e0c;
    --color-sazerac-700: #c2460c;
    --color-sazerac-800: #9a3812;
    --color-sazerac-900: #7c3012;
    --color-sazerac-950: #431607; */
}

@plugin "daisyui/theme" {
    name: "lightNew";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(97% 0.014 343.198);
    --color-base-200: oklch(96% 0.015 12.422);
    --color-base-300: oklch(94% 0.03 12.58);
    --color-base-content: oklch(16.961% 0.001 17.32);
    --color-primary: oklch(35% 0.144 278.697);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(85% 0.199 91.936);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: oklch(85% 0.199 91.936);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(35% 0.144 278.697);
    --color-neutral-content: oklch(92.951% 0.002 17.197);
    --color-info: oklch(72.06% 0.191 231.6);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(64.8% 0.15 160);
    --color-success-content: oklch(0% 0 0);
    --color-warning: oklch(84.71% 0.199 83.87);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "darkNew";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(25.33% 0.016 252.42);
    --color-base-200: oklch(23.26% 0.014 253.1);
    --color-base-300: oklch(21.15% 0.012 254.09);
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: oklch(35% 0.144 278.697);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(85% 0.199 91.936);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: oklch(85% 0.199 91.936);
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: oklch(35% 0.144 278.697);
    --color-neutral-content: oklch(96% 0.018 272.314);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
